* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

/* Common Style Start */
header,
main {
  max-width: 1110px;
  margin: 0 auto;
}
:root {
  --primary-color: #e02c6d;
  --secondary-color: #6c757d;
}

/* Common Style End */

/* Header Section Start */

/* Navbar Section Start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}
.nav_text {
  font-size: 1.3rem;
  font-weight: bold;
}
.nav_menu ul {
  display: flex;
  gap: 0.8rem;
}

.nav_menu a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}
.nav_menu li:last-child {
  display: none;
}
nav ul li {
  list-style: none;
}
nav > ul:first-child {
  display: none;
}
/* Navbar Section End */

/* Hero Section Start  */
.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_text_heading {
  font-size: 3rem;
  font-weight: bold;
}
.hero_text_info {
  font-weight: semi-bold;
}
.hero_text_button {
  display: inline-block;
  width: 10rem;
  color: white;
  background-color: var(--primary-color);
  border: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  position: relative;
}
.hero_text_button i {
  position: absolute;
  top: 13px;
  right: 20px;
}
.hero_image {
  background-image: url(../assests/images/Circle\ design.svg);
}
/* Hero Section End */
/* Brand Section Start */

.brand {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  margin: 6rem 0;
  padding: 0 3rem;
}
/* Brand Section End */
/* Header Section End */
/* Collection Section Start */
.collection_title {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
}
.collection_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.collection_card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.collection_card_details {
  padding: 1rem;
}
.collection_card img {
  display: inline-block;
  width: 90%;
  height: auto;
  display: flex;
  margin: 0rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
.collection_name {
  font-size: 2rem;
}
.collection_price {
  font-size: 1.2rem;
}
.collection_review_icon i {
  color: rgb(249, 187, 63);
}
/* Collection Section End */
/* Feature Section Start */
.feature_products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 5rem auto;
}
.feature_products_title {
  font-size: 2rem;
}
/* Feature Section End */
/* Footer Section Start */
footer {
  color: white;
  text-align: center;
  background-color: rgb(17, 11, 54);
  width: 100vw !important;
}
.footer_title {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.footer_logo i {
  margin-right: 1rem;
}
/* Footer Section End */
/* Small devices */
@media only screen and (max-width: 576px) {
  .feature_products {
    flex-direction: column-reverse;
    padding: 0 1rem;
    text-align: center;
  }
  .feature_products_text {
    text-align: center;
    text-align: justify;
  }
  .feature_products_title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .feature_text_button {
    width: 40%;
    margin: 0 auto;
  }
  .feature_products:last-child {
    display: block;
  }
  .collection_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .hero_container {
    flex-direction: column;
    padding: 1rem;
  }
  .hero_text_heading {
    font-size: 2rem;
  }
  nav {
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .nav_menu li:nth-child(n) {
    display: none;
  }
  .nav_menu li:last-child {
    display: block;
  }
  nav > ul:first-child {
    display: block;
  }
  .hero_text_button {
    margin-bottom: 3rem;
  }
  .hero_image img {
    width: 100%;
  }
}

/* Medium devices */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  footer {
    width: 100vw !important;
  }
  .collection_card {
    margin: 0 auto;
    padding: 1rem;
  }
  .collection_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  nav,
  .hero_container {
    padding: 0 1rem;
  }
  .brand {
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
  }
  .feature_products {
    padding: 0 1rem;
    text-align: justify;
  }
  .feature_text_button {
    text-align: center;
  }
}

/* Large devices  */
@media only screen and (min-width: 992px) {
}
